<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta charset="utf-8">
	<title><%= title %></title>
	<link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/story.css">
  <link rel="stylesheet" href="/css/category.css">
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>

</head>
<%-include header.html %>
	<div class="main">
		<div class="con">
			<div class="category-content">
				<div class="crumb">
					<span>
						<a href="/story">星门</a>><a href="/story/type/<%=book.number%>"><%=book.categoryname%></a>><a><%=book.storyname%></a>
					</span>
				</div>
				<div class="category-title text-center h1">
					<%=book.storyname%> <span>作者：<a href="#"><%=book.author%></a></span>
				</div>
				<div class="category-intro text-center">
					<span>倒序↓</span><a href="#">直达底部</a>
				</div>
				<div class="category-chapter-panel">
					<div class="chap_list text-center">
						<h5>正文</h5>
					</div>
					<div class="shadow"></div>
					<div class="category-chapter-list">
						<table cellspacing="0" cellpadding="0" border="0">
							<tbody>
								<% chapters.map(function(story,i){
									if(i%3 == 0){%>
										<tr>
									<%
									}%>
										<td><a href="/story/content/<%=story.chapterlink%>?_id=<%=book._id%>"><%=story.chapter%></a></td>
									<%
										var k = i+1
										if(k%3 == 0){%>
											</tr>
										<%}
									})%>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="category-list">
					<div class="category-list-top">
						<!-- <div class="category-list-select">
							<select class="form-control">
								<option name="1" value="1" selected="selected">1</option>
								<option name="2" value="2" >2</option>
								<option name="3" value="3" >3</option>
								<option name="4" value="4" >4</option>
								<option name="5" value="5" >5</option>
							</select>
						</div> -->
						<a href="javascript:void(0)">↓&nbsp;反序</a>
					</div>
					<div class="category-list-content">
						<div class="category-list-content-item"><a href="/story/content/<%=chapters[0].chapterlink%>?_id=<%=book._id%>"><%=chapters[0].chapter%></a><span>></span></div>
						<div class="category-list-content-item"><a href="/story/content/<%=chapters[0].chapterlink%>?_id=<%=book._id%>"><%=chapters[1].chapter%></a><span>></span></div>
						<div class="category-list-content-item"><a href="/story/content/<%=chapters[0].chapterlink%>?_id=<%=book._id%>"><%=chapters[2].chapter%></a><span>></span></div>
						<div class="category-list-content-item"><a href="/story/content/<%=chapters[0].chapterlink%>?_id=<%=book._id%>"><%=chapters[3].chapter%></a><span>></span></div>
					</div>
					<div class="category-list-bottom">
						<ul id="pagination" class="pagination"></ul>
					</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		$ (function() {
      if ($('#pagination')) {
        // var pagecount = <%= %>;
        // var pagesize = <%= %>;
        // var currentPage = <%= %>;
        var pagecount = 50;
        var pagesize = 5;
        var currentPage = 3;
        var counts, pagehtml = '';
        if (pagecount % pagesize === 0) {
          counts = parseInt(pagecount / pagesize, 10);
        } else {
        	counts = parseInt(pagecount / pagesize, 10) + 1;
        }
        if (pagecount <= pagesize) { pagehtml = '';}
        if (pagecount > pagesize) {
        	if (currentPage > 1) {
        		pagehtml += '<li><a href="/story/category/<%=book._id%>?currentPage=' + (currentPage - 1) + '">上一页</a></li>';
        	}
        	for (var i = 0; i < counts; i++) {
            if (i >= (currentPage - 3) && i < (currentPage + 3)) {
            	if (i === currentPage - 1) {
            		pagehtml += '<li class="active"><a href="/course/index/' + (i + 1) + '">' + (i + 1) + '</a></li>';
            	} else {
            		pagehtml += '<li><a href="/course/index/' + (i + 1) + '">' + (i + 1) + '</a></li>';
            	}
            }
        	}
        	if (currentPage < counts) {
            pagehtml += '<li><a href="/course/index/' + (currentPage + 1) + '">下一页</a></li>';
        	}
        }
        $("#pagination").html(pagehtml);
      }
		});
	</script>
<%-include footer.html %>