<nav class="navbar navbar-default navbar-fixed-top list" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-list">
        <span class="sr-only">mm</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/story">星门</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="top-list">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/story/bookshelf">书架</a></li>
        <li><a href="/story/type/0">玄幻</a></li>
        <li><a href="/story/type/1">修真</a></li>
        <li><a href="/story/type/2">都市</a></li>
        <li><a href="/story/type/3">穿越</a></li>
        <li><a href="/story/type/4">网游</a></li>
        <li><a href="/story/type/5">科幻</a></li>
        <li><a href="#">排行榜单</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<form action="/story/search" class="search">
  <div class="form-group form-inline ">
    <input name="keyword" class="form-control" type="text" placeholder="书名/作者">
    <button type="submit" class="btn btn-default">搜索</button>
  </div>
</form>