<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta charset="utf-8">
	<title><%= title %></title>
	<link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/story.css">
  <link rel="stylesheet" href="/css/home.css">
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>  
</head>
<body>
<%-include header.html %>
	<div class="main">
		<div class="con">
			<div class="home">
				<div class="best-story">
					<div class="best-story-left">
				        <div class="best-story-left-thumb">
				        	<div class="best-story-left-thumb-big">
				        		<a href="#" style="display: none;opacity: 0;"><img src="http://static.zongheng.com/upload/cover/2016/06/1464833688649.jpg"></a>
				        		<a href="#" style="display: inline;"><img src="http://static.zongheng.com/upload/cover/2016/07/1469835906245.jpg"></a>
				        		<a href="#" style="display: none;opacity: 0;"><img src="http://static.zongheng.com/upload/cover/2016/07/1467875920073.jpg"></a>
				        		<a href="#" style="display: none;opacity: 0;"><img src="http://static.zongheng.com/upload/cover/2014/11/1416890629022.jpg"></a>
				        		<a href="#" style="display: none;opacity: 0;"><img src="http://static.zongheng.com/upload/cover/2016/06/1465810965745.jpg"></a>
				        	</div>
				        	<div class="best-story-left-thumb-small">
				        		<a href="#"><img src="http://static.zongheng.com/upload/cover/2016/06/1464833688649.jpg"></a>
				        		<a href="#"><img src="http://static.zongheng.com/upload/cover/2016/07/1469835906245.jpg"></a>
				        		<a href="#"><img src="http://static.zongheng.com/upload/cover/2016/07/1467875920073.jpg"></a>
				        		<a href="#"><img src="http://static.zongheng.com/upload/cover/2014/11/1416890629022.jpg"></a>
				        		<a href="#"><img src="http://static.zongheng.com/upload/cover/2016/06/1465810965745.jpg"></a>
				        	</div>
				        </div>
				        <div class="best-story-left-summary">
				        	<h4>万道神帝</h4>
				        	<p>三十三天，亿万生灵。大道争锋，诸法竞鸣。一个孤独的人，手执一把孤独的剑，走着一条孤独的路。而这条路，亦是强者之路。</p>
				        </div>
				    </div>
				    <div class="best-story-right">
				    	<div class="row">
				    		<div class="row">
				    			<div class="col-md-12 best-story-right-line"><a href="#">驱异族复山河，重振汉家雄风：大宋王侯</a></div>
				    		</div>
				    		<div class="row">
				    			<div class="col-md-6 col-xs-6 best-story-right-line"><a href="#"><span>[都市]</span>护花宗师：国术高手逆袭</a></div>
				    			<div class="col-md-6 col-xs-6 best-story-right-line"><a href="#"><span>[都市]</span>护花宗师：国术高手逆袭</a></div>
				    		</div>
				    		<div class="row">
				    			<div class="col-md-6 col-xs-6 best-story-right-line"><a href="#"><span>[都市]</span>护花宗师：国术高手逆袭</a></div>
				    			<div class="col-md-6 col-xs-6 best-story-right-line"><a href="#"><span>[都市]</span>护花宗师：国术高手逆袭</a></div>
				    		</div>
				    		<div class="row">
				    			<div class="col-md-6 col-xs-6 best-story-right-line"><a href="#"><span>[都市]</span>护花宗师：国术高手逆袭</a></div>
				    			<div class="col-md-6 col-xs-6 best-story-right-line"><a href="#"><span>[都市]</span>护花宗师：国术高手逆袭</a></div>
				    		</div>
				    		<div class="row">
				    			<div class="col-md-6 col-xs-6 best-story-right-line"><a href="#"><span>[都市]</span>护花宗师：国术高手逆袭</a></div>
				    			<div class="col-md-6 col-xs-6 best-story-right-line"><a href="#"><span>[都市]</span>护花宗师：国术高手逆袭</a></div>
				    		</div>
				    	</div>
				    	<div class="row">
				    		<div class="row">
				    			<div class="col-md-12 best-story-right-line"><a href="#">废土史诗大作，激斗变异生物：末世图腾</a></div>
				    		</div>
				    		<div class="row">
				    			<div class="col-md-6 col-xs-6 best-story-right-line"><a href="#"><span>[都市]</span>护花宗师：国术高手逆袭</a></div>
				    			<div class="col-md-6 col-xs-6 best-story-right-line"><a href="#"><span>[都市]</span>护花宗师：国术高手逆袭</a></div>
				    		</div>
				    		<div class="row">
				    			<div class="col-md-6 col-xs-6 best-story-right-line"><a href="#"><span>[都市]</span>护花宗师：国术高手逆袭</a></div>
				    			<div class="col-md-6 col-xs-6 best-story-right-line"><a href="#"><span>[都市]</span>护花宗师：国术高手逆袭</a></div>
				    		</div>
				    		<div class="row">
				    			<div class="col-md-6 col-xs-6 best-story-right-line"><a href="#"><span>[都市]</span>护花宗师：国术高手逆袭</a></div>
				    			<div class="col-md-6 col-xs-6 best-story-right-line"><a href="#"><span>[都市]</span>护花宗师：国术高手逆袭</a></div>
				    		</div>
				    		<div class="row">
				    			<div class="col-md-6 col-xs-6 best-story-right-line"><a href="#"><span>[都市]</span>护花宗师：国术高手逆袭</a></div>
				    			<div class="col-md-6 col-xs-6 best-story-right-line"><a href="#"><span>[都市]</span>护花宗师：国术高手逆袭</a></div>
				    		</div>
				    	</div>
				    </div>
				</div>
				<div class="category-hot">
					<div class="category-hot-head">
						<ul class="nav nav-tabs" role="tablist">
						  	<li role="presentation" class="active"><a href="#pinshu">品书试读</a></li>
						  	<li role="presentation"><a href="#tuijian">小编推荐</a></li>
						  	<li role="presentation"><a href="#jingpin">免费精品</a></li>
						  	<li role="presentation"><a href="#quanpin">经典全品</a></li>
						</ul>
						<div class="more"><a href="#">查看更多</a></div>
					</div>
					<div class="pinshu">
							<%pinshu.map(function(story,i){
								if(i % 3 == 0){%>
									<div class="row">
								<%}%>
								<div class="col-md-4 col-xs-4 category-hot-col">
	                <div class="book">
										<img src="<%=story.image%>">
										<div class="book-right">
											<h2 class="text-center"><a href="/story/summary/<%=story._id%>"><%=story.storyname%></a></h2>
											<p><%=story.summary%></p>
										</div>
									</div>
								</div>
								<%
								var k = i+1
								if(k % 3 == 0){%>
								</div>
								<%}
							})%>
					</div>
					<div class="tuijian" style="display: none;">
								<%tuijian.map(function(story){
	                if(i % 3 == 0){%>
									<div class="row">
								<%}%>
								<div class="col-md-4 col-xs-4 category-hot-col">
	                <div class="book">
										<img src="<%=story.image%>">
										<div class="book-right">
											<h2 class="text-center"><a href="/story/summary/<%=story._id%>"><%=story.storyname%></a></h2>
											<p><%=story.summary%></p>
										</div>
									</div>
								</div>
								<%
								var k = i+1
								if(k % 3 == 0){%>
								</div>
								<%}
								})%>
					</div>
					<div class="jingpin" style="display: none;">
								<%jingpin.map(function(story){
	                if(i % 3 == 0){%>
									<div class="row">
								<%}%>
								<div class="col-md-4 col-xs-4 category-hot-col">
	                <div class="book">
										<img src="<%=story.image%>">
										<div class="book-right">
											<h2 class="text-center"><a href="/story/summary/<%=story._id%>"><%=story.storyname%></a></h2>
											<p><%=story.summary%></p>
										</div>
									</div>
								</div>
								<%
								var k = i+1
								if(k % 3 == 0){%>
								</div>
								<%}
								})%>
					</div>
					<div class="quanpin" style="display: none;">
								<%quanpin.map(function(story){
	                if(i % 3 == 0){%>
									<div class="row">
									<%}%>
									<div class="col-md-4 col-xs-4 category-hot-col">
		                <div class="book">
											<img src="<%=story.image%>">
											<div class="book-right">
												<h2 class="text-center"><a href="/story/summary/<%=story._id%>"><%=story.storyname%></a></h2>
												<p><%=story.summary%></p>
											</div>
										</div>
									</div>
									<%
									var k = i+1
									if(k % 3 == 0){%>
									</div>
									<%}
								})%>
					</div>
				</div>
				<div class="prime-home">
					<div class="sub-title">
						<h2>分类热门推荐</h2>
						<a href="#">查看更多>></a>
					</div>
					<div class="prime-home-show">
						<div class="row">
							<div class="show-book-border">
								<a class="more" href="#">查看更多>></a>
								<div class="side-pic"></div>
								<div class="show-sub-title">
									<h2>奇幻玄幻</h2>
								</div>
								<div class="show-book">
									<img src="<%=primexuanhuan[0].image%>">
									<div class="show-book-right">
										<h4 class="show-book-right-bookname"><a href="/story/summary/<%=primexuanhuan[0]._id%>"><%=primexuanhuan[0].storyname%></a></h4>
										<p class="show-book-right-author">作者：<a href="#"><%=primexuanhuan[0].author%></a></p>
										<p class="show-book-right-summary"><a href="/story/summary/<%=primexuanhuan[0]._id%>"><%=primexuanhuan[0].summary%></a></p>
									</div>
								</div>
								<ul class="show-book-list">
								  <%for(var i = 1;i< primexuanhuan.length;i++){%>
										<li><a href="/story/summary/<%=primexuanhuan[i]._id%>" title="承天：<%=primexuanhuan[i].storyname%>"><span>[新书]</span><%=primexuanhuan[i].storyname%></a></li>
									<%}%>
								</ul>
							</div>
							<div class="show-book-border">
								<a class="more" href="#">查看更多>></a>
								<div class="side-pic"></div>
								<div class="show-sub-title">
									<h2>修真小说</h2>
								</div>
								<div class="show-book">
									<img src="<%=primexiuzhen[0].image%>">
									<div class="show-book-right">
										<h4 class="show-book-right-bookname"><a href="/story/summary/<%=primexiuzhen[0]._id%>"><%=primexiuzhen[0].storyname%></a></h4>
										<p class="show-book-right-author">作者：<a href="#"><%=primexiuzhen[0].author%></a></p>
										<p class="show-book-right-summary"><a href="/story/summary/<%=primexiuzhen[0]._id%>"><%=primexiuzhen[0].summary%></a></p>
									</div>
								</div>
								<ul class="show-book-list">
								  <%for(var i = 1;i< primexiuzhen.length;i++){%>
										<li><a href="/story/summary/<%=primexiuzhen[i]._id%>" title="承天：<%=primexiuzhen[i].storyname%>"><span>[新书]</span><%=primexiuzhen[i].storyname%></a></li>
									<%}%>
								</ul>
							</div>
							<div class="show-book-border">
								<a class="more" href="#">查看更多>></a>
								<div class="side-pic"></div>
								<div class="show-sub-title">
									<h2>都市小说</h2>	
								</div>
								<div class="show-book">
									<img src="<%=primedushi[0].image%>">
									<div class="show-book-right">
										<h4 class="show-book-right-bookname"><a href="/story/summary/<%=primedushi[0]._id%>"><%=primedushi[0].storyname%></a></h4>
										<p class="show-book-right-author">作者：<a href="#"><%=primedushi[0].author%></a></p>
										<p class="show-book-right-summary"><a href="/story/summary/<%=primedushi[0]._id%>"><%=primedushi[0].summary%></a></p>
									</div>
								</div>
								<ul class="show-book-list">
								  <%for(var i = 1;i< primedushi.length;i++){%>
										<li><a href="/story/summary/<%=primedushi[i]._id%>" title="承天：<%=primedushi[i].storyname%>"><span>[新书]</span><%=primedushi[i].storyname%></a></li>
									<%}%>
								</ul>
							</div>
						</div>
						<div class="row">
							<div class="show-book-border">
								<a class="more" href="#">查看更多>></a>
								<div class="side-pic"></div>
								<div class="show-sub-title">
									<h2>穿越小说</h2>
								</div>
								<div class="show-book">
									<img src="<%=primechuanyue[0].image%>">
									<div class="show-book-right">
										<h4 class="show-book-right-bookname"><a href="/story/summary/<%=primechuanyue[0]._id%>"><%=primechuanyue[0].storyname%></a></h4>
										<p class="show-book-right-author">作者：<a href="#"><%=primechuanyue[0].author%></a></p>
										<p class="show-book-right-summary"><a href="/story/summary/<%=primechuanyue[0]._id%>"><%=primechuanyue[0].summary%></a></p>
									</div>
								</div>
								<ul class="show-book-list">
								  <%for(var i = 1;i< primechuanyue.length;i++){%>
										<li><a href="/story/summary/<%=primechuanyue[i]._id%>" title="承天：<%=primechuanyue[i].storyname%>"><span>[新书]</span><%=primechuanyue[i].storyname%></a></li>
									<%}%>
								</ul>
							</div>
							<div class="show-book-border">
								<a class="more" href="#">查看更多>></a>
								<div class="side-pic"></div>
								<div class="show-sub-title">
									<h2>网游小说</h2>
								</div>
								<div class="show-book">
									<img src="<%=primewangyou[0].image%>">
									<div class="show-book-right">
										<h4 class="show-book-right-bookname"><a href="/story/summary/<%=primewangyou[0]._id%>"><%=primewangyou[0].storyname%></a></h4>
										<p class="show-book-right-author">作者：<a href="#"><%=primewangyou[0].author%></a></p>
										<p class="show-book-right-summary"><a href="/story/summary/<%=primewangyou[0]._id%>"><%=primewangyou[0].summary%></a></p>
									</div>
								</div>
								<ul class="show-book-list">
								  <%for(var i = 1;i< primewangyou.length;i++){%>
										<li><a href="/story/summary/<%=primewangyou[i]._id%>" title="承天：<%=primewangyou[i].storyname%>"><span>[新书]</span><%=primewangyou[i].storyname%></a></li>
									<%}%>
								</ul>
							</div>
							<div class="show-book-border">
								<a class="more" href="#">查看更多>></a>
								<div class="side-pic"></div>
								<div class="show-sub-title">
									<h2>科幻小说</h2>
								</div>
								<div class="show-book">
									<img src="<%=primekehuan[0].image%>">
									<div class="show-book-right">
										<h4 class="show-book-right-bookname"><a href="/story/summary/<%=primekehuan[0]._id%>"><%=primekehuan[0].storyname%></a></h4>
										<p class="show-book-right-author">作者：<a href="#"><%=primekehuan[0].author%></a></p>
										<p class="show-book-right-summary"><a href="/story/summary/<%=primekehuan[0]._id%>"><%=primekehuan[0].summary%></a></p>
									</div>
								</div>
								<ul class="show-book-list">
								  <%for(var i = 1;i< primekehuan.length;i++){%>
										<li><a href="/story/summary/<%=primekehuan[i]._id%>" title="承天：<%=primekehuan[i].storyname%>"><span>[新书]</span><%=primekehuan[i].storyname%></a></li>
									<%}%>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="last-update">
					<div class="last-update-title">
						最新小说更新
					</div>
					<div class="latest-chapter">
						<div class="tabA">
							<div class="latest-chapter-head">
								<span class="latest-chapter-kind">类别</span>
								<span class="latest-chapter-chap">书名/章节</span>
								<span class="latest-chapter-author">作者</span>
								<span class="latest-chapter-time">更新时间</span>
							</div>
							<ul class="latest-chapter-list">
								<%latestbook.map(function(story){%>
	                <li>
										<span class="latest-chapter-kind"><%=(story.categoryname).substr(0,2)%></span>
										<span class="latest-chapter-chap"><%=story.storyname%></span>
										<span class="latest-chapter-author"><%=story.author%></span>
										<span class="latest-chapter-time"><%=moment(story.meta.updateAt).format('hh : mm')%></span>
									</li>
								<%})%>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<%-include side.html %>
		</div>
	</div>
	<script src="/js/home.js"></script>
<%-include footer.html %>