<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta charset="utf-8">
	<title><%= title %></title>
	<link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/story.css">
    <link rel="stylesheet" href="/css/home.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>
<%-include header.html %>
	<div class="main">
		<div class="con">
			<div class="home">
				<div class="best-story">
					<div class="best-story-left">
				        <div class="best-story-left-thumb">
				        	<div class="best-story-left-thumb-big">
				        		<a href="#" style="display: none;opacity: 0;"><img src="http://static.zongheng.com/upload/cover/2016/06/1464833688649.jpg"></a>
				        		<a href="#" style="display: inline;"><img src="http://static.zongheng.com/upload/cover/2016/07/1469835906245.jpg"></a>
				        		<a href="#" style="display: none;opacity: 0;"><img src="http://static.zongheng.com/upload/cover/2016/07/1467875920073.jpg"></a>
				        		<a href="#" style="display: none;opacity: 0;"><img src="http://static.zongheng.com/upload/cover/2014/11/1416890629022.jpg"></a>
				        		<a href="#" style="display: none;opacity: 0;"><img src="http://static.zongheng.com/upload/cover/2016/06/1465810965745.jpg"></a>
				        	</div>
				        	<div class="best-story-left-thumb-small">
				        		<a href="#"><img src="http://static.zongheng.com/upload/cover/2016/06/1464833688649.jpg"></a>
				        		<a href="#"><img src="http://static.zongheng.com/upload/cover/2016/07/1469835906245.jpg"></a>
				        		<a href="#"><img src="http://static.zongheng.com/upload/cover/2016/07/1467875920073.jpg"></a>
				        		<a href="#"><img src="http://static.zongheng.com/upload/cover/2014/11/1416890629022.jpg"></a>
				        		<a href="#"><img src="http://static.zongheng.com/upload/cover/2016/06/1465810965745.jpg"></a>
				        	</div>
				        </div>
				        <div class="best-story-left-summary">
				        	<h4>万道神帝</h4>
				        	<p>三十三天，亿万生灵。大道争锋，诸法竞鸣。一个孤独的人，手执一把孤独的剑，走着一条孤独的路。而这条路，亦是强者之路。</p>
				        </div>
				    </div>
				    <div class="best-story-right">
				    	<div class="row">
				    		<div class="row">
				    			<div class="col-md-12 best-story-right-line"><a href="#">驱异族复山河，重振汉家雄风：大宋王侯</a></div>
				    		</div>
				    		<div class="row">
				    			<div class="col-md-6 col-xs-6 best-story-right-line"><a href="#"><span>[都市]</span>护花宗师：国术高手逆袭</a></div>
				    			<div class="col-md-6 col-xs-6 best-story-right-line"><a href="#"><span>[都市]</span>护花宗师：国术高手逆袭</a></div>
				    		</div>
				    		<div class="row">
				    			<div class="col-md-6 col-xs-6 best-story-right-line"><a href="#"><span>[都市]</span>护花宗师：国术高手逆袭</a></div>
				    			<div class="col-md-6 col-xs-6 best-story-right-line"><a href="#"><span>[都市]</span>护花宗师：国术高手逆袭</a></div>
				    		</div>
				    		<div class="row">
				    			<div class="col-md-6 col-xs-6 best-story-right-line"><a href="#"><span>[都市]</span>护花宗师：国术高手逆袭</a></div>
				    			<div class="col-md-6 col-xs-6 best-story-right-line"><a href="#"><span>[都市]</span>护花宗师：国术高手逆袭</a></div>
				    		</div>
				    		<div class="row">
				    			<div class="col-md-6 col-xs-6 best-story-right-line"><a href="#"><span>[都市]</span>护花宗师：国术高手逆袭</a></div>
				    			<div class="col-md-6 col-xs-6 best-story-right-line"><a href="#"><span>[都市]</span>护花宗师：国术高手逆袭</a></div>
				    		</div>
				    	</div>
				    	<div class="row">
				    		<div class="row">
				    			<div class="col-md-12 best-story-right-line"><a href="#">废土史诗大作，激斗变异生物：末世图腾</a></div>
				    		</div>
				    		<div class="row">
				    			<div class="col-md-6 col-xs-6 best-story-right-line"><a href="#"><span>[都市]</span>护花宗师：国术高手逆袭</a></div>
				    			<div class="col-md-6 col-xs-6 best-story-right-line"><a href="#"><span>[都市]</span>护花宗师：国术高手逆袭</a></div>
				    		</div>
				    		<div class="row">
				    			<div class="col-md-6 col-xs-6 best-story-right-line"><a href="#"><span>[都市]</span>护花宗师：国术高手逆袭</a></div>
				    			<div class="col-md-6 col-xs-6 best-story-right-line"><a href="#"><span>[都市]</span>护花宗师：国术高手逆袭</a></div>
				    		</div>
				    		<div class="row">
				    			<div class="col-md-6 col-xs-6 best-story-right-line"><a href="#"><span>[都市]</span>护花宗师：国术高手逆袭</a></div>
				    			<div class="col-md-6 col-xs-6 best-story-right-line"><a href="#"><span>[都市]</span>护花宗师：国术高手逆袭</a></div>
				    		</div>
				    		<div class="row">
				    			<div class="col-md-6 col-xs-6 best-story-right-line"><a href="#"><span>[都市]</span>护花宗师：国术高手逆袭</a></div>
				    			<div class="col-md-6 col-xs-6 best-story-right-line"><a href="#"><span>[都市]</span>护花宗师：国术高手逆袭</a></div>
				    		</div>
				    	</div>
				    </div>
				</div>
				<div class="category-hot">
					<div class="category-hot-head">
						<ul class="nav nav-tabs" role="tablist">
						  	<li role="presentation" class="active"><a href="#pinshu">品书试读</a></li>
						  	<li role="presentation"><a href="#tuijian">小编推荐</a></li>
						  	<li role="presentation"><a href="#jingpin">免费精品</a></li>
						  	<li role="presentation"><a href="#quanpin">经典全品</a></li>
						</ul>
						<div class="more"><a href="#">查看更多</a></div>
					</div>
					<div class="pinshu">
						<div class="row">
							<div class="col-md-4 col-xs-4 category-hot-col">
								<div class="book">
									<img src="/img/story/0000.jpg">
									<div class="book-right">
										<h2 class="text-center"><a href="#">书剑江山</a></h2>
										<p>天下裂变，王室偏安一隅，诸侯纷争，世子苏岳霖入江湖，掌天下。天下裂变，王室偏安一隅，诸侯纷争.</p>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-xs-4 category-hot-col">
								<div class="book">
									<img src="/img/story/0000.jpg">
									<div class="book-right">
										<h2 class="text-center"><a href="#">书剑江山</a></h2>
										<p>天下裂变，王室偏安一隅，诸侯纷争，世子苏岳霖入江湖，掌天下。天下裂变，王室偏安一隅，诸侯纷争.</p>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-xs-4 category-hot-col">
								<div class="book">
									<img src="/img/story/0000.jpg">
									<div class="book-right">
										<h2 class="text-center"><a href="#">书剑江山</a></h2>
										<p>天下裂变，王室偏安一隅，诸侯纷争，世子苏岳霖入江湖，掌天下。天下裂变，王室偏安一隅，诸侯纷争.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4 col-xs-4 category-hot-col">
								<div class="book">
									<img src="/img/story/0000.jpg">
									<div class="book-right">
										<h2 class="text-center"><a href="#">书剑江山</a></h2>
										<p>天下裂变，王室偏安一隅，诸侯纷争，世子苏岳霖入江湖，掌天下。天下裂变，王室偏安一隅，诸侯纷争.</p>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-xs-4 category-hot-col">
								<div class="book">
									<img src="/img/story/0000.jpg">
									<div class="book-right">
										<h2 class="text-center"><a href="#">书剑江山</a></h2>
										<p>天下裂变，王室偏安一隅，诸侯纷争，世子苏岳霖入江湖，掌天下。天下裂变，王室偏安一隅，诸侯纷争.</p>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-xs-4 category-hot-col">
								<div class="book">
									<img src="/img/story/0000.jpg">
									<div class="book-right">
										<h2 class="text-center"><a href="#">书剑江山</a></h2>
										<p>天下裂变，王室偏安一隅，诸侯纷争，世子苏岳霖入江湖，掌天下。天下裂变，王室偏安一隅，诸侯纷争.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="tuijian" style="display: none;">
						<div class="row">
							<div class="col-md-4 col-xs-4 category-hot-col">
								<div class="book">
									<img src="/img/story/0000.jpg">
									<div class="book-right">
										<h2 class="text-center"><a href="#">书剑江山</a>222</h2>
										<p>天下裂变，王室偏安一隅，诸侯纷争，世子苏岳霖入江湖，掌天下。天下裂变，王室偏安一隅，诸侯纷争.</p>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-xs-4 category-hot-col">
								<div class="book">
									<img src="/img/story/0000.jpg">
									<div class="book-right">
										<h2 class="text-center"><a href="#">书剑江山</a>222</h2>
										<p>天下裂变，王室偏安一隅，诸侯纷争，世子苏岳霖入江湖，掌天下。天下裂变，王室偏安一隅，诸侯纷争.</p>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-xs-4 category-hot-col">
								<div class="book">
									<img src="/img/story/0000.jpg">
									<div class="book-right">
										<h2 class="text-center"><a href="#">书剑江山</a>222</h2>
										<p>天下裂变，王室偏安一隅，诸侯纷争，世子苏岳霖入江湖，掌天下。天下裂变，王室偏安一隅，诸侯纷争.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4 col-xs-4 category-hot-col">
								<div class="book">
									<img src="/img/story/0000.jpg">
									<div class="book-right">
										<h2 class="text-center"><a href="#">书剑江山</a>222</h2>
										<p>天下裂变，王室偏安一隅，诸侯纷争，世子苏岳霖入江湖，掌天下。天下裂变，王室偏安一隅，诸侯纷争.</p>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-xs-4 category-hot-col">
								<div class="book">
									<img src="/img/story/0000.jpg">
									<div class="book-right">
										<h2 class="text-center"><a href="#">书剑江山</a>222</h2>
										<p>天下裂变，王室偏安一隅，诸侯纷争，世子苏岳霖入江湖，掌天下。天下裂变，王室偏安一隅，诸侯纷争.</p>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-xs-4 category-hot-col">
								<div class="book">
									<img src="/img/story/0000.jpg">
									<div class="book-right">
										<h2 class="text-center"><a href="#">书剑江山</a>222</h2>
										<p>天下裂变，王室偏安一隅，诸侯纷争，世子苏岳霖入江湖，掌天下。天下裂变，王室偏安一隅，诸侯纷争.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="jingpin" style="display: none;">
						<div class="row">
							<div class="col-md-4 col-xs-4 category-hot-col">
								<div class="book">
									<img src="/img/story/0000.jpg">
									<div class="book-right">
										<h2 class="text-center"><a href="#">书剑江山</a>3333</h2>
										<p>天下裂变，王室偏安一隅，诸侯纷争，世子苏岳霖入江湖，掌天下。天下裂变，王室偏安一隅，诸侯纷争.</p>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-xs-4 category-hot-col">
								<div class="book">
									<img src="/img/story/0000.jpg">
									<div class="book-right">
										<h2 class="text-center"><a href="#">书剑江山</a>3333</h2>
										<p>天下裂变，王室偏安一隅，诸侯纷争，世子苏岳霖入江湖，掌天下。天下裂变，王室偏安一隅，诸侯纷争.</p>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-xs-4 category-hot-col">
								<div class="book">
									<img src="/img/story/0000.jpg">
									<div class="book-right">
										<h2 class="text-center"><a href="#">书剑江山</a>3333</h2>
										<p>天下裂变，王室偏安一隅，诸侯纷争，世子苏岳霖入江湖，掌天下。天下裂变，王室偏安一隅，诸侯纷争.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4 col-xs-4 category-hot-col">
								<div class="book">
									<img src="/img/story/0000.jpg">
									<div class="book-right">
										<h2 class="text-center"><a href="#">书剑江山</a>3333</h2>
										<p>天下裂变，王室偏安一隅，诸侯纷争，世子苏岳霖入江湖，掌天下。天下裂变，王室偏安一隅，诸侯纷争.</p>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-xs-4 category-hot-col">
								<div class="book">
									<img src="/img/story/0000.jpg">
									<div class="book-right">
										<h2 class="text-center"><a href="#">书剑江山</a>3333</h2>
										<p>天下裂变，王室偏安一隅，诸侯纷争，世子苏岳霖入江湖，掌天下。天下裂变，王室偏安一隅，诸侯纷争.</p>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-xs-4 category-hot-col">
								<div class="book">
									<img src="/img/story/0000.jpg">
									<div class="book-right">
										<h2 class="text-center"><a href="#">书剑江山</a>3333</h2>
										<p>天下裂变，王室偏安一隅，诸侯纷争，世子苏岳霖入江湖，掌天下。天下裂变，王室偏安一隅，诸侯纷争.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="quanpin" style="display: none;">
						<div class="row">
							<div class="col-md-4 col-xs-4 category-hot-col">
								<div class="book">
									<img src="/img/story/0000.jpg">
									<div class="book-right">
										<h2 class="text-center"><a href="#">书剑江山</a>4444</h2>
										<p>天下裂变，王室偏安一隅，诸侯纷争，世子苏岳霖入江湖，掌天下。天下裂变，王室偏安一隅，诸侯纷争.</p>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-xs-4 category-hot-col">
								<div class="book">
									<img src="/img/story/0000.jpg">
									<div class="book-right">
										<h2 class="text-center"><a href="#">书剑江山</a>4444</h2>
										<p>天下裂变，王室偏安一隅，诸侯纷争，世子苏岳霖入江湖，掌天下。天下裂变，王室偏安一隅，诸侯纷争.</p>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-xs-4 category-hot-col">
								<div class="book">
									<img src="/img/story/0000.jpg">
									<div class="book-right">
										<h2 class="text-center"><a href="#">书剑江山</a>4444</h2>
										<p>天下裂变，王室偏安一隅，诸侯纷争，世子苏岳霖入江湖，掌天下。天下裂变，王室偏安一隅，诸侯纷争.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4 col-xs-4 category-hot-col">
								<div class="book">
									<img src="/img/story/0000.jpg">
									<div class="book-right">
										<h2 class="text-center"><a href="#">书剑江山</a>4444</h2>
										<p>天下裂变，王室偏安一隅，诸侯纷争，世子苏岳霖入江湖，掌天下。天下裂变，王室偏安一隅，诸侯纷争.</p>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-xs-4 category-hot-col">
								<div class="book">
									<img src="/img/story/0000.jpg">
									<div class="book-right">
										<h2 class="text-center"><a href="#">书剑江山</a>4444</h2>
										<p>天下裂变，王室偏安一隅，诸侯纷争，世子苏岳霖入江湖，掌天下。天下裂变，王室偏安一隅，诸侯纷争.</p>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-xs-4 category-hot-col">
								<div class="book">
									<img src="/img/story/0000.jpg">
									<div class="book-right">
										<h2 class="text-center"><a href="#">书剑江山</a>4444</h2>
										<p>天下裂变，王室偏安一隅，诸侯纷争，世子苏岳霖入江湖，掌天下。天下裂变，王室偏安一隅，诸侯纷争.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="prime-home">
					<div class="sub-title">
						<h2>分类热门推荐</h2>
						<a href="#">查看更多>></a>
					</div>
					<div class="prime-home-show">
						<div class="row">
							<div class="show-book-border">
								<a class="more" href="#">查看更多>></a>
								<div class="side-pic"></div>
								<div class="show-sub-title">
									<h2>奇幻玄幻</h2>
								</div>
								<div class="show-book">
									<img src="/img/story/0000.jpg">
									<div class="show-book-right">
										<h4 class="show-book-right-bookname"><a href="#">天域剑主</a></h4>
										<p class="show-book-right-author">作者：<a href="#">徽州才子</a></p>
										<p class="show-book-right-summary"><a href="#">天地为炉大道为火，淬炼肉身成就天域剑主</a></p>
									</div>
									
								</div>
								<ul class="show-book-list">
										<li><a href="#" title="承天：有把折扇绝世无双"><span>[新书]</span>承天：有把折扇绝世无双</a></li>
										<li><a href="#" title="承天：有把折扇绝世无双"><span>[新书]</span>承天：有把折扇绝世无双</a></li>
										<li><a href="#" title="承天：有把折扇绝世无双"><span>[新书]</span>承天：有把折扇绝世无双</a></li>
										<li><a href="#" title="承天：有把折扇绝世无双"><span>[新书]</span>承天：有把折扇绝世无双</a></li>
										<li><a href="#" title="承天：有把折扇绝世无双"><span>[新书]</span>承天：有把折扇绝世无双</a></li>
									</ul>
							</div>
							<div class="show-book-border">
								<a class="more" href="#">查看更多>></a>
								<div class="side-pic"></div>
								<div class="show-sub-title">
									<h2>奇幻玄幻</h2>
								</div>
								<div class="show-book">
									<img src="/img/story/0000.jpg">
									<div class="show-book-right">
										<h4 class="show-book-right-bookname"><a href="#">天域剑主</a></h4>
										<p class="show-book-right-author">作者：<a href="#">徽州才子</a></p>
										<p class="show-book-right-summary"><a href="#">天地为炉大道为火，淬炼肉身成就天域剑主</a></p>
									</div>
								</div>
								<ul class="show-book-list">
										<li><a href="#" title="承天：有把折扇绝世无双"><span>[新书]</span>承天：有把折扇绝世无双</a></li>
										<li><a href="#" title="承天：有把折扇绝世无双"><span>[新书]</span>承天：有把折扇绝世无双</a></li>
										<li><a href="#" title="承天：有把折扇绝世无双"><span>[新书]</span>承天：有把折扇绝世无双</a></li>
										<li><a href="#" title="承天：有把折扇绝世无双"><span>[新书]</span>承天：有把折扇绝世无双</a></li>
										<li><a href="#" title="承天：有把折扇绝世无双"><span>[新书]</span>承天：有把折扇绝世无双</a></li>
								</ul>
							</div>
							<div class="show-book-border">
								<a class="more" href="#">查看更多>></a>
								<div class="side-pic"></div>
								<div class="show-sub-title">
									<h2>奇幻玄幻</h2>	
								</div>
								<div class="show-book">
									<img src="/img/story/0000.jpg">
									<div class="show-book-right">
										<h4 class="show-book-right-bookname"><a href="#">天域剑主</a></h4>
										<p class="show-book-right-author">作者：<a href="#">徽州才子</a></p>
										<p class="show-book-right-summary"><a href="#">天地为炉大道为火，淬炼肉身成就天域剑主</a></p>
									</div>
									
								</div>
								<ul class="show-book-list">
										<li><a href="#" title="承天：有把折扇绝世无双"><span>[新书]</span>承天：有把折扇绝世无双</a></li>
										<li><a href="#" title="承天：有把折扇绝世无双"><span>[新书]</span>承天：有把折扇绝世无双</a></li>
										<li><a href="#" title="承天：有把折扇绝世无双"><span>[新书]</span>承天：有把折扇绝世无双</a></li>
										<li><a href="#" title="承天：有把折扇绝世无双"><span>[新书]</span>承天：有把折扇绝世无双</a></li>
										<li><a href="#" title="承天：有把折扇绝世无双"><span>[新书]</span>承天：有把折扇绝世无双</a></li>
									</ul>
							</div>
						</div>
						<div class="row">
							<div class="show-book-border">
								<a class="more" href="#">查看更多>></a>
								<div class="side-pic"></div>
								<div class="show-sub-title">
									<h2>奇幻玄幻</h2>
								</div>
								<div class="show-book">
									<img src="/img/story/0000.jpg">
									<div class="show-book-right">
										<h4 class="show-book-right-bookname"><a href="#">天域剑主</a></h4>
										<p class="show-book-right-author">作者：<a href="#">徽州才子</a></p>
										<p class="show-book-right-summary"><a href="#">天地为炉大道为火，淬炼肉身成就天域剑主</a></p>
									</div>
									
								</div>
								<ul class="show-book-list">
										<li><a href="#" title="承天：有把折扇绝世无双"><span>[新书]</span>承天：有把折扇绝世无双</a></li>
										<li><a href="#" title="承天：有把折扇绝世无双"><span>[新书]</span>承天：有把折扇绝世无双</a></li>
										<li><a href="#" title="承天：有把折扇绝世无双"><span>[新书]</span>承天：有把折扇绝世无双</a></li>
										<li><a href="#" title="承天：有把折扇绝世无双"><span>[新书]</span>承天：有把折扇绝世无双</a></li>
										<li><a href="#" title="承天：有把折扇绝世无双"><span>[新书]</span>承天：有把折扇绝世无双</a></li>
									</ul>
							</div>
							<div class="show-book-border">
								<a class="more" href="#">查看更多>></a>
								<div class="side-pic"></div>
								<div class="show-sub-title">
									<h2>奇幻玄幻</h2>
								</div>
								<div class="show-book">
									<img src="/img/story/0000.jpg">
									<div class="show-book-right">
										<h4 class="show-book-right-bookname"><a href="#">天域剑主</a></h4>
										<p class="show-book-right-author">作者：<a href="#">徽州才子</a></p>
										<p class="show-book-right-summary"><a href="#">天地为炉大道为火，淬炼肉身成就天域剑主</a></p>
									</div>
									
								</div>
								<ul class="show-book-list">
										<li><a href="#" title="承天：有把折扇绝世无双"><span>[新书]</span>承天：有把折扇绝世无双</a></li>
										<li><a href="#" title="承天：有把折扇绝世无双"><span>[新书]</span>承天：有把折扇绝世无双</a></li>
										<li><a href="#" title="承天：有把折扇绝世无双"><span>[新书]</span>承天：有把折扇绝世无双</a></li>
										<li><a href="#" title="承天：有把折扇绝世无双"><span>[新书]</span>承天：有把折扇绝世无双</a></li>
										<li><a href="#" title="承天：有把折扇绝世无双"><span>[新书]</span>承天：有把折扇绝世无双</a></li>
									</ul>
							</div>
							<div class="show-book-border">
								<a class="more" href="#">查看更多>></a>
								<div class="side-pic"></div>
								<div class="show-sub-title">
									<h2>奇幻玄幻</h2>
								</div>
								<div class="show-book">
									<img src="/img/story/0000.jpg">
									<div class="show-book-right">
										<h4 class="show-book-right-bookname"><a href="#">天域剑主</a></h4>
										<p class="show-book-right-author">作者：<a href="#">徽州才子</a></p>
										<p class="show-book-right-summary"><a href="#">天地为炉大道为火，淬炼肉身成就天域剑主</a></p>
									</div>
								</div>
								<ul class="show-book-list">
										<li><a href="#" title="承天：有把折扇绝世无双"><span>[新书]</span>承天：有把折扇绝世无双</a></li>
										<li><a href="#" title="承天：有把折扇绝世无双"><span>[新书]</span>承天：有把折扇绝世无双</a></li>
										<li><a href="#" title="承天：有把折扇绝世无双"><span>[新书]</span>承天：有把折扇绝世无双</a></li>
										<li><a href="#" title="承天：有把折扇绝世无双"><span>[新书]</span>承天：有把折扇绝世无双</a></li>
										<li><a href="#" title="承天：有把折扇绝世无双"><span>[新书]</span>承天：有把折扇绝世无双</a></li>
									</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="last-update">
					<div class="last-update-title">
						最新小说更新
					</div>
					<div class="latest-chapter">
						<div class="tabA">
							<div class="latest-chapter-head">
								<span class="latest-chapter-kind">类别</span>
								<span class="latest-chapter-chap">书名/章节</span>
								<span class="latest-chapter-author">作者</span>
								<span class="latest-chapter-time">更新时间</span>
							</div>
							<ul class="latest-chapter-list">
								<li>
									<span class="latest-chapter-kind"><a href="#">[都市]</a></span>
									<span class="latest-chapter-chap"><a href="#">白夜神话</a><a href="#">正文 第十六章 秦明的监护人</a></span>
									<span class="latest-chapter-author"><a href="#">作者</a></span>
									<span class="latest-chapter-time">12:18</span>
								</li>
								<li>
									<span class="latest-chapter-kind"><a href="#">[都市]</a></span>
									<span class="latest-chapter-chap"><a href="#">白夜神话</a><a href="#">正文 第十六章 秦明的监护人</a></span>
									<span class="latest-chapter-author"><a href="#">作者</a></span>
									<span class="latest-chapter-time">12:18</span>
								</li>
								<li>
									<span class="latest-chapter-kind"><a href="#">[都市]</a></span>
									<span class="latest-chapter-chap"><a href="#">白夜神话</a><a href="#">正文 第十六章 秦明的监护人</a></span>
									<span class="latest-chapter-author"><a href="#">作者</a></span>
									<span class="latest-chapter-time">12:18</span>
								</li>
								<li>
									<span class="latest-chapter-kind"><a href="#">[都市]</a></span>
									<span class="latest-chapter-chap"><a href="#">白夜神话</a><a href="#">正文 第十六章 秦明的监护人</a></span>
									<span class="latest-chapter-author"><a href="#">作者</a></span>
									<span class="latest-chapter-time">12:18</span>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<%-include side.html %>
		</div>
	</div>
	<script src="/js/home.js"></script>
<%-include footer.html %>