<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta charset="utf-8">
	<title><%= title %></title>
	<link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/story.css">
  <link rel="stylesheet" href="/css/type.css">
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>  

</head>
<%-include header.html %>
<div class="main">
	<div class="con">
		<div class="search">
			<div class="bookmodel-items">
				<%results.map(function(book){%>
          <div class="bookmodel-item">
            <a href="/story/summary/<%=book._id%>"><img src="<%=book.image%>"></a>
            <div class="bookmodel-item-right">
              <div class="bookmodel-item-name"><a href="/story/summary/<%=book.storyname%>"><%=book.storyname%></a></div>
              <div class="bookmodel-item-author"><span>作者：</span><%=book.author%></div>
              <div class="bookmodel-item-latest"><span>更新至：</span>第一千六百三十二章</div>
              <div class="bookmodel-item-summary"><span>简介：</span><%=book.summary%></div>
            </div>
          </div>
        <%})%>
			</div>
		</div>
	</div>
</div>
<%-include footer.html %>