nav{
	background-color: transparent;
	height: 50px;
}
header{
	background-color: rgba(0,0,0,0.1);
}
#banner{
	background-color: transparent;
	height: 700px;
}
ul{
	margin: 0;
}
nav ul{
	list-style: none;
	margin: 0;
	float: right;
}
nav ul li,
nav .logo {
	display: inline-block;
	line-height: 50px;
	margin-right: 20px;
}
nav ul li a{
	line-height: inherit;
	display: inline-block;
	height: inherit;
	color: #fff;
}
nav .logo{
	float: left;
}
#banner .inner {
	max-width: 300px;
	text-align: center;
	margin: 0 auto;
	position: relative;
	top: 160px;
}
#banner .inner h1{
	margin: 0;
}
button{
	border: none;
	background-color: #333;
	color: #eee;
	padding: 10px;
}
.hr{
	width: 100%;
	height: 2px;
	margin: 20px auto;
}
#banner button{
	padding: 14px 60px;
	border-radius: 6px;
	letter-spacing: 4px;
	font-size: 20px;
	position: relative;
	top: 160px;
	background-color: rgba(17,136,170,.2);
	transition: all 2s;
}
#banner button:hover{
	background-color: rgba(17,136,170,.8);
	color: red;
}
#banner .inner .more{
	margin-top: 240px;
}
.sub-heading{
	line-height: 30px;
	margin: 30px 0;
}
#banner .inner .sub-heading{
	font-size: 20px;
	color: #fff;
}
.logo{
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 2px;
}
.logo a{
	color: #fff;
}
h1{
	padding: 12px;
	border-top: 2px solid #fff;
	border-bottom: 2px solid #fff;
}
h2{
	font-size: 30px;
}
h3{
	font-size: 24px;
}
/*
	green-section
*/
.wrapper h2{
	margin: 0;
}
.green-section{
	text-align: center;
	background-color: #6495ed;
	color: #fff;
	padding: 100px 0;
}
.wrapper{
	max-width: 1080px;
	margin: 0 auto;
}
.green-section .hr{
	background-color: #098E9F;
	width: 60%;
}
.green-section .wrapper .icons-group .icon{
	display: inline-block;
	width: 80px;
	height: 80px;
	background-color: #7fffd4;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	margin: 20px;
}
.green-section .wrapper .icons-group .icon i{
	display: inline-block;
	position: relative;
	top: 25px;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.icons-group{
	margin-top: 60px;
}
.icon:first-child{
	color: #ff1493;
}
.icon:nth-child(2){
	color: #ffd700;
}
.icon:nth-child(3){
	color: #0f0;
}

/*
	gray-section
*/
.gray-section{
	background-color: #ff7f50;
	color: #fff;
}
.gray-section .img-section{
	width: 45%;
}
.img-section img{
	width: 100%;
}
.gray-section .text-section{
	width: 55%;
}
/*
	> 选择器 只是选择儿子一辈
	也就是 img-section 和 text-section
	不包括里面的div
*/
.article-preview > div{
	float: left;
	/*
		设置font-size取消边距
		因为margin padding 都没用
	*/
	font-size: 0;
}
.article-preview:nth-child(2){
	background-color: #98FB98;
}
.article-preview:nth-child(3){
	background-color: #ffd700;
}
/*.article-preview:after{
	content: '';
	display: block;
	clear: both;
}*/
.text-section{
	position: relative;
	top: 150px;
	left: 50px;
}
.text-section h2{
	margin-bottom: 20px;
	display: inline-block;
}
.text-section h2:hover{
	cursor: pointer;
}
.text-section .sub-heading{
	font-size: 22px;
	margin-top: 0;
}
.text-section p{
	height: 300px;
	font-size: 18px;
	letter-spacing: 1px;
	overflow: hidden;
}
.text-section *{
	max-width: 90%;
}
/*
	purple-section
*/
.purple-section{
	padding: 80px;
	height: 800px;
	background-color: #3F3965;
	color: #fff;
	overflow: hidden;
	-webkit-perspective: 800px;
	-moz-perspective: 800px;
}
.purple-section .heading-wrapper{
	text-align: center;
}
.purple-section .hr{
	background-color: #373259;
	width: 60%;
}
.card{
	float: left;
	width: 50%;
	min-height: 300px;
	padding: 50px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.card p{
	font-size: 13px;
	letter-spacing: 1px;
}
.card:first-child{
	background-color: rgba(0,0,0,0.04);
}
.card:nth-child(2){
	background-color: rgba(0,0,0,0.08);
}
.card:nth-child(3){
	background-color: rgba(0,0,0,0.12);
}
.card:nth-child(4){
	background-color: rgba(0,0,0,0.16);
}
.card:nth-child(5){
	background-color: rgba(0,0,0,0.20);
}
.card:nth-child(6){
	background-color: rgba(0,0,0,0.24);
}

.wrap{
	max-width: 1080px;
	height: 420px;
	margin: 0 auto;
}
.photo{
	width: 150px;
	height: 200px;
	position: absolute;
	z-index: 1;
	overflow: hidden;
	box-shadow: 0 0 1px rgba(0,0,0,.01);
	transition: all .5s;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
}
.photo .side{
	width: inherit;
	height: inherit;
	position: absolute;
	top: 0;
	right: 0;
	padding: 10px;
	box-sizing: border-box;
}
.photo .side-front{
	background-color: #fff;
}
.photo .side-front .image{
	width: 100%;
	height: 160px;
	line-height: 160px;
	overflow: hidden;
}
.photo .side-front .image img{
	width: 100%;
}
.photo .side-front .caption{
	text-align: center;
	font-size: 10px;
	line-height: 10px;
	color: #000;
}
.photo .side-back{
	background-color: #fff;
}
.photo .side-back .desc{
	color: #666;
	font-size: 14px;
	line-height: 1.5em;
}
/*
	当前海报的样式
*/
.photo-center{
	left: 50%;
	top: 50%;
	width: 150px;
	height: 200px;
	margin: -100px 0 0 -75px;
	z-index: 999;
}
/*
	负责旋转
*/
.photo-wrap{
	/*position: absolute;*/
	width: inherit;
	height: inherit;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transition: all 1s;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
}
.photo-wrap .side-front{
	transform: rotateY(0deg);
	-webkit-transform: rotateY(0deg);
	-moz-transform: rotateY(0deg);
}
.photo-wrap .side-back{
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
}
.photo-wrap .side{
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
}
.photo-front .photo-wrap{
	transform: rotateY(0deg);
	-webkit-transform: rotateY(0deg);
	-moz-transform: rotateY(0deg);
}
.photo-back .photo-wrap{
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
}
/*
	控制按钮的样式
*/
.nav{
	width: 80%;
	height: 30px;
	line-height: 30px;
	position: absolute;
	left: 10%;
	bottom: 20px;
	z-index: 999;
	text-align: center;
}
/*
	普通样式
*/
.nav .i{
	width: 20px;
	height: 20px;
	display: inline-block;
	border-radius: 50%;
	cursor: pointer;
	background-color: #9400D3;
	text-align: center;
	transform: scale(.48);
	-webkit-transform: scale(.48);
	-moz-transform: scale(.48);
	transition: all .5s;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
}
.nav .i:after{
	content: ' ';
	font-size: 80%;
	display: inline-block;
	line-height: 20px;
	text-align: center;
	color: #fff;
	opacity: 0;
}
/*
	选中样式
*/
.nav .i-current{
	transform: scale(1);
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
}
.nav .i-current:after{
	opacity: 1;
}
/*
	背面样式
*/
.nav .i-back{
	transform: rotateY(-180deg);
	-webkit-transform: rotateY(-180deg);
	-moz-transform: rotateY(-180deg);
	background-color: #ff1493;
	/*-wedbkit-backface-visibility: hidden;*/
}
/*
	优化样式
*/
.photo{
	left: 50%;
	top: 50%;
	margin: -100px 0 0 -75px;
}
/*.photo-wrap{
	transform-origin: 0% 10%;
	-webkit-transform-origin: 0% 10%;
	-moz-transform-origin: 0% 10%;
}
.photo-front .photo-wrap{
	transform: translate(0px, 0px) rotateY(0deg);
	-webkit-transform: translate(0px, 0px) rotateY(0deg);
	-moz-transform: translate(0px, 0px) rotateY(0deg);
}
.photo-back .photo-wrap{
	transform: translate(50px, 0px) rotateY(0deg);
	-webkit-transform: translate(50px, 0px) rotateY(180deg);
	-moz-transform: translate(50px, 0px) rotateY(180deg);
}*/

/*
	footer
*/
footer{
	background-color: #333;
	color: #fff;
	min-height: 200px;
	text-align: center;
}
ul.share-group{
	display: block;
	max-width: 1080px;
	margin: 0 auto;
	padding: 50px;
}
.share-group li{
	display: inline-block;
	padding: 10px;
}
.copy{
	padding-bottom: 20px;
}
.main-wrapper{
	background: rgb(187,235,211) url('../img/2016-07-09 165425.jpg') no-repeat;
	/*
		background-size以什么方式确定大小
	*/
	background-size: cover;
	/*background-position: center center;*/
	background-attachment: fixed;
	overflow: hidden;
}