/**
	content 页面样式
*/
.content{
	width: 100%;
	margin: 0 auto;
	margin-top: 20px;
}
.content-body{
	padding: 20px 25px 50px 25px;
}
.content-body > h3{
	padding: 0;
	margin: 10px 0 0 0;
	font-size: 16px;
	color: #837f7f;
	font-weight: normal;
}
.content-title{
	font-family: '楷体';
}
.content-intro > h3{
	display: inline;
	font-size: 16px;
	margin-right: 10px;
}
.content-intro > h3 a,
.content-intro span a{
	color: #303030;
	font-weight: 900;
}
.content-intro span{
	font-size: 12px;
}
.content-latest-update{
	color: #787878;
	margin: 2px;
}
.content-panel{
	padding: 0 25px;
}
.content-panel .shadow:last-child{
	transform: rotate(180deg);
}
.content-panel-body{
	font-size: 40px;
	font-family: '楷体';
	font-weight: 800;
}
.quickly{
	width: 100%;
	height: 44px;
	position: relative;
	padding: 0 212px;
	display: -webkit-flex;
}
.quickly a{
	flex: 1;
	display: inline-block;
	width: 140px;
	height: 44px;
	line-height: 44px;
	margin: 0 8px 0 8px;
	float: left;
	text-align: center;
	color: #000;
	font-size: 22px;
	font-family: '楷体';
}
/*.quickly .prev,
.quickly .back,
.quickly .next{
	background-position: 100% 100%;
	background-size: cover;
	background-repeat: no-repeat;
}
.quickly .prev{
	background-image: url('../img/story/prev.svg');
}
.quickly .back{
	background-image: url('../img/story/back.svg');
}
.quickly .next{
	background-image: url('../img/story/next.svg');
}*/
@media screen and (max-width: 996px) and (min-width:480px){
	.content-panel-body{
		font-size: 24px;
	}
	.quickly{
		height: 30px;
		line-height: 30px;
		padding: 0 50px;
	}
	.quickly a{
		height: 30px;
		line-height: 30px;
	}
}
@media screen and (max-width: 479px) and (min-width:320px){
	.content-panel-body{
		font-size: 18px;
	}
	.quickly{
		height: 30px;
		line-height: 30px;
		padding: 0 10px;
	}
	.quickly a{
		font-size: 14px;
		height: 30px;
		line-height: 30px;
	}
}