<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="/bower_components/bootstrapvalidator/dist/css/bootstrapvalidator.min.css">
    <link rel="stylesheet" href="/bower_components/normalize/normalize.css">
    <link rel="stylesheet" href="/css/blog.css">
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/bootstrapvalidator/dist/js/bootstrapValidator.min.js"></script>
    <script type="text/javascript" src="/js/data.js"></script>
    <script type="text/javascript" src="/js/mmBlog.js"></script>
</head>
<body class="landing" onselectstart="return false;" style="-moz-user-select:none;">
	<div class="main-wrapper">
		<header>
			<nav>
				<div class="logo"><a href="#">叶子峰峰</a></div>
				<ul>
					<li><a href="#" class="active">首页</a></li>
					<li><a href="#">链接2</a></li>
					<li><a href="#">链接3</a></li>
					<li><a href="#">链接4</a></li>
				</ul>
			</nav>
			<div id="banner">
				<div class="inner">
					<h1>密密 mimi</h1>
					<p class="sub-heading">
						山有木兮木有枝<br />
						心悦君兮君不知<br />
					</p>
					<button>LOVE</button>
					<!-- <div class="more">
						更多
					</div> -->
				</div>
			</div>
		</header>
		<div class="content">
			<section class="green-section">
				<div class="wrapper">
					<div>
						<h2>圈儿词</h2>
						<div class="hr"></div>
						<p class="sub-heading">相思欲寄无从寄，画个圈儿替。<br />话在圈儿外，心在圈儿里。单圈儿是我，双圈儿是你。你心中有我，我心中有你。<br />
						月缺了会圆，月圆了会缺。整圆儿是团圆，半圈儿是别离。<br />
						我<kbd>密密</kbd>加圈，你须<kbd>密密</kbd>知我意。还有数不尽的相思情，我一路圈儿圈到底</p>
					</div>
					<div class="icons-group">
						<span class="icon">
							<i class="icon-heart icon-2x"></i>
						</span>
						<span class="icon">
							<i class="icon-star icon-2x"></i>
						</span>
						<span class="icon">
							<i class="icon-download-alt icon-2x"></i>
						</span>
					</div>
				</div>
			</section>
			<section class="gray-section">
				<div class="article-preview clearfix">
					<div class="img-section">
						<img src="/img/2016-07-09 165924.jpg">
					</div>
					<div class="text-section">
						<h2>银の龙の背に乗って</h2>
						<div class="sub-heading">
							中岛美雪
						</div>
						<p>
						あの苍（あお）ざめた海（うみ）の彼方（かなた）で<br />
						今（いま）まさに谁（だれ）かが伤（きず）んでいる<br />
						まだ飞（と）べない雏（ひな）たちみたいに<br />
						仆（ぼく）はこの 非力（ひりき）を叹（なげ）いている<br />
						急（いそ）げ悲（かな）しみ 翼（つばさ）に変（か）われ<br />
						急（いそ）げ伤迹（きずあと）罗针盘（らしんばん）になれ<br />
						まだ 飞（と）べない雏（ひな）たちみたいに<br />
						仆（ぼく）はこの 非力（ひりき）を叹（なげ）いている<br />
						梦（ゆめ）が 迎（みか）えに来（き）てくれるまで<br />
						震（ふる）えて待（ま）ってるだけだった昨日（きのう）<br />
						明日（あした）仆（ぼく）は龙（りゅう）の足元（あしもと）へ崖（がけ）を登（のぼ）り<br />
						呼（よ）ぶよ「さあ、行（い）こうぜ」<br />
						银（ぎん）の龙（りょう）の 背（せ）に乗（の）って<br />
						届（とど）けに行（い）こう 命（いのち）の砂漠（さばく）へ<br />
						银（ぎん）の龙（りょう）の背（せ）に乗（の）って<br />
						运（はこ）んで行（い）こう 雨云（あまぐも）の涡（うず）を<br />
						失（うしな）うものさえ失（うしな）ってなお<br />
						人（ひと）はまだ谁（だれ）かの指（ゆび）にすがる<br />
						柔（やわ）らかな皮肤（ひふ）しかない理由（わけ）は<br />
						人（ひと）が人（ひと）の伤（いた）みを聴（き）くためだ<br />
						急（いそ）げ悲（かな）しみ 翼（つばさ）に変（か）われ<br />
						急（いそ）げ伤迹（きずあと） 罗针盘（らしんばん）になれ<br />
						まだ飞（と）べない雏（ひな）たちみたいに<br />
						仆（ぼく）はこの非力（ひりき）を叹（なげ）いている<br />
						わたボコリみたいな翼（つばさ）でも<br />
						木（き）の芽（め）みたいな頼（たよ）りない爪（つめ）でも<br />
						明日（あした）仆（ぼく）は龙（りゅう）の足元（あしもと）へ崖（がけ）を登（のぼ）り<br />
						呼（よ）ぶよ「さあ、行（い）こうぜ」<br />
						银（ぎん）の龙（りょう）の背（せ）に乗（の）って<br />
						届（とど）けに行（い）こう 命（いのち）の砂漠（さばく）へ<br />
						银（ぎん）の龙（りょう）の背（せ）に乗（の）って<br />
						运（はこ）んで行（い）こう 雨云（あまぐも）の涡（うず）を<br />
						银（ぎん）の龙（りょう）の背（せ）に乗（の）って<br />
						运（はこ）んで行（い）こう 雨云（あまぐも）の涡（うず）を<br />
						银（ぎん）の龙（りょう）の背（せ）に乗（の）って<br />
						银（ぎん）の龙（りょう）の背（せ）に乗（の）って</p>
					</div>
				</div>
				<div class="article-preview clearfix">
					<div class="text-section">
						<h2>陆垚知马俐</h2>
						<div class="sub-heading">
							好难认的歌词
						</div>
						<p>
							我是一个名叫陆垚的小伙儿<br />
							爱上了一个名叫马俐的女神儿啊啊<br />
							勾住我的魂儿<br />
							她樱桃的小嘴儿水灵的小眼神儿<br />
							简单的三个字儿却总是说不出来呀<br />
							到底怎么回事儿（来来跟着我唱）<br />
							皛垚壵嚞刕鱻森（小垚撞着李先森）<br />
							刕鱻森鱻舙龘犇（李先森嫌弃他笨）<br />
							皛垚焱磊掱掱飝（小垚眼泪啪啪飞）<br />
							皛馫焱嚞尛磊（小心眼这么累）<br />
							皛垚壵嚞刕鱻森（小垚撞着李先森）<br />
							刕鱻森鱻舙龘犇（李先森嫌弃他笨）<br />
							皛垚焱磊掱掱飝（小垚眼泪啪啪飞）<br />
							皛馫焱嚞尛磊（小心眼这么累）<br />
							陆垚知马俐呀日久见人心<br />
							我们的友情能不能升华一下下<br />
							变成美好爱情<br />
							（马俐你听我说嘛）<br />
							三滴水要念淼<br />
							淼淼淼淼吃猫草<br />
							三个金要念鑫<br />
							通讯录里一筐鑫<br />
							三只手要念掱<br />
							掱手不是这个掱<br />
							三个土要念垚<br />
							陆垚陆垚快表白（来来跟着我唱啊）<br />
							皛垚壵嚞刕鱻森（小垚撞着李先森）<br />
							刕鱻森鱻舙龘犇（李先森嫌弃他笨）<br />
							皛垚焱磊掱掱飝（小垚眼泪啪啪飞）<br />
							皛馫焱嚞尛磊（小心眼这么累）<br />
							皛垚壵嚞刕鱻森（小垚撞着李先森）<br />
							刕鱻森鱻舙龘犇（李先森嫌弃他笨）<br />
							皛垚焱磊掱掱飝（小垚眼泪啪啪飞）<br />
							皛馫焱嚞尛磊（小心眼这么累）<br />
						</p>
					</div>
					<div class="img-section">
						<img src="/img/2016-07-09 165951.jpg">
					</div>
				</div>
				<div class="article-preview clearfix">
					<div class="img-section">
						<img src="/img/2016-07-09 170528.jpg">
					</div>
					<div class="text-section">
						<h2>爱很简单</h2>
						<div class="sub-heading">
							忘了是什么时候开始
						</div>
						<p>
							也许就是对你一种感觉 <br />
							忽然间发现自己 <br />
							已深深爱上你真的很简单 <br />
							爱的地暗天黑都已无所谓 <br />
							是是非非无法抉择 <br />
							没有后悔为爱日夜去跟随 <br />
							那个疯狂的人是我 <br />
							i love you 无法不爱着你 baby 说你也爱我喔～ <br />
							i love you 永远不愿意 baby 失去你 <br />
							不可能更快乐只要能在一起做什么都可以 <br />
							虽然世界变个不停用最真诚的心让爱变的简单 <br />
							我爱的地暗天黑都已无所谓 <br />
							是是非非无法抉择喔～ <br />
							没有后悔为爱日夜去跟随 <br />
							那个疯狂的人是我喔～ <br />
							i love you 一直在这里baby 一直在爱你喔～ <br />
							i love you oh yes i do <br />
							永远都不放弃这爱的权利 <br />
							如果你还有一些困惑 oh no 请贴着我的心倾听 <br />
							听我说着我爱你 yes i do <br />
							永远都不放弃这爱的权利 <br />
							i love you 我一直在这里baby 一直在爱你喔～也 <br />
							i love you 喔～也 <br />
							永远都不放弃这爱的权利<br />
						</p>
					</div>
				</div>
			</section>
			<section class="purple-section">
				<div class="wrapper">
					<div class="heading-wrapper">
						<h2>密密的照片墙</h2>
						<div class="hr"></div>
						<div class="sub-heading">
							随便选一个吧
						</div>
					</div>
					<div id="wrap" class="wrap">
						<% mmpic.forEach(function(pic,index){%>
							<div class="photo photo-center photo-front" id="photo_<%=index%>">
								<div class="photo-wrap">
									<div class="side side-front">
										<p class="image">
											<img src="/upload/<%=pic.src%>">
										</p>
										<p class="caption">
											<%=pic.caption%>
										</p>
									</div>
									<div class="side side-back">
										<p class="desc">
											<%  var des = pic.desc.split('<br>')
												des.forEach(function(d){%>
												<%=d%><br/>
											<%})
											%>
										</p>
									</div>
								</div>
							</div>
						<%})%>
						<div class="nav">
							<% mmpic.forEach(function(mm,index){%>
								<span id="nav_<%=index%>" class="i">&nbsp</span>
							<%})%>
						</div>
					</div>
				</div>
			</section>
		</div>
		<footer>
			<ul class="share-group">
				<li>item1</li>
				<li>item1</li>
				<li>item1</li>
				<li>item1</li>
				<li>item1</li>
			</ul>
			<div class="copy">
				&copy 叶大伟 -5201314
			</div>
			<audio id="audio" loop="loop" autoplay="autoplay">
				<source src="/audio/miss you.mp3" type="audio/mpeg" codecs="mp3"></source>
			</audio>
		</footer>
	</div>
</body>
</html>
